$bg-color1: rgb(95, 203, 237);
$bg-color2: rgba(95, 203, 237, 1);
$bg-color3: rgba(66, 215, 230, 1);
$bg-color4: rgba(176, 248, 255, 1);
$bg-gradient-angle: 175deg;

//text

$mainTxt: #ffffff;

//border

$mainBorder: #ffffff;

//pads

$padBg: rgba(66, 215, 230, 1);
