// background

$bg-color1: rgb(95, 203, 237);
$bg-color2: rgb(1, 184, 240);
$bg-color3: rgba(66, 215, 230, 1);
$bg-color4: rgba(176, 248, 255, 1);
$bg-gradient-angle: 175deg;
$bg-pad: #000000;
$bg-main: #000000;
$bg-main-trans: rgba(0, 0, 0, 0.7);

//text

$txt-main: #ffffff;
$txt-pad: #aca9a9;

//border

$border-main: #ffffff;
$border-pad: #aca9a9;
