@use '@scssVariables' as v;

.pads-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 250px;
  height: 250px;
  gap: 0.2rem;
}

.pad {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  border: 3px solid v.$border-pad;
  border-radius: 10px;
  font-size: 2rem;
  background-color: v.$bg-pad;
}

.pad.active {
  border-color: green;
  color: green;
}
