@use '@scssVariables' as v;

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid v.$border-main;
  padding: 0.5rem;

  &__mainTitle {
    text-align: right;
    margin-right: 0.5rem;
    font-size: 1.2rem;
    margin-right: 0.5rem;
    font-weight: bold;
  }
}
