@use '@scssVariables' as v;

.startingScreen {
  border: 3px solid v.$border-main;
  border-radius: 10px;
  height: 246.38px;
  width: 262.5px;
  padding: 1rem;
  background-color: v.$bg-main-trans;
}
